body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;  /* 1 */
}

.title {
  background: #e3f4ff;
  font-size: 16px;  /* 3 */
  padding: 8px;     /* 4 */
  margin-block: 0; /* needed this to make keep the title top margin style intact */
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;  /* 5 */
  margin: 8px 0;   /* 2 */
}

.button-container {
  background: #e3f4ff;
  text-align: center;   /* 6 */
  padding: 8px;    /* 6 */
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;  /* 7 */
  margin: 0 auto;  /* 7 */
  padding: 8px 24px;        /* 8 */
}
